/** INDEX **/
.bg-index{
    background-image: url(../img/fondo-index.png);
    height: 100vh;
    width: 100%;
    top: 0%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    .letra{
        width: 40%;
    }
}
.nav-bg{
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.345);
    z-index: 10;
}